<!-- <aside class="sidebar">
    <nav>
        <ul>
            {{ range where .Site.RegularPages "Section" "posts" }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </nav>
</aside> -->

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/posts/">Posts</a>
    <!-- Add more links as needed -->
</div>
